<form class="form-horizontal"
      role="form">
  <script cam-script type="text/form-script">
    $scope.open = function($event) {
      $event.preventDefault();
      $event.stopPropagation();

      $scope.dateFieldOpened = true;
    };
  </script>
  <p>
    <strong>Notice valid if incoming date is prior to date listed in contract</strong>
  </p>

  <div class="form-group">
    <label class="control-label col-md-2">Amount of months the notice must be prior the desired leave (stated in contract)</label>
    <div class="col-md-10">
      <select cam-variable-name="noticePeriod"
              cam-variable-type="String"
              class="form-control">
        <option value="3" selected>3</option>
        <option value="1">1</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Incoming Date</label>
    <div class="col-md-10">
      <p class="input-group">
        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        <input type="text"
               cam-variable-name="dateIncoming"
               cam-variable-type="Date"
               class="form-control"
               datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
               is-open="dateFieldOpened"
               />

        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Desired Leave</label>
    <div class="col-md-10">
      <p class="input-group">
        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        <input type="text"
               cam-variable-name="dateDesired"
               cam-variable-type="Date"
               class="form-control"
               datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
               is-open="dateFieldOpened"
               readonly />

        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
  </div>
</form>

